<?xml version="1.0"?>
<config>
    <modules>
        <MintZone_CheckOut>
            <version>1.0.0</version>
        </MintZone_CheckOut>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <use>standard</use>
                <args>
                    <module>MintZone_CheckOut</module>
                    <frontName>checkout_with_mintzone</frontName>
                </args>
            </checkout>
        </routers>  
        <layout>
            <updates>
                <checkout>
                    <file>mintzone_checkout.xml</file>
                </checkout>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <checkout>
                <rewrite>
                    <cart>MintZone_CheckOut_Block_Cart</cart>
                    <pay>MintZone_CheckOut_Block_Pay</pay>  
                    <response>MintZone_CheckOut_Block_Response</response>
                </rewrite>
            </checkout>
        </blocks>
        <!-- <resources>
            <mintzone_checkout_setup>
                <setup>
                    <module>MintZone_CheckOut</module>
                    <class>MintZone_CheckOut_Model_Resource_Setup</class>
                </setup>
            </mintzone_checkout_setup>
        </resources>
        <models>
            <checkout>
                <class>MintZone_CheckOut_Model</class>
                <resourceModel>checkout_resource</resourceModel>
            </checkout>
            <checkout_resource>
                <class>MintZone_CheckOut_Model_Resource</class>
            </checkout_resource>
        </models> -->
    </global>
</config>
